body {
	background: gray;
	padding: 0;
	margin: 0;
	font-family: 'Oswald', sans-serif;
}

#year_switcher {
	height: 30px;
	/* width: 200px; */
	line-height: 30px;
	font-size: 2.2em;
	text-align: center;
	color: #333;
	margin: 10px auto;
}

#year_switcher a {
	text-decoration: none;
	color: #333;
}

#year_switcher a:hover {
	text-decoration: underline;
	color: #666;
}

#chart_area {
	width: 90%;
	height: 90%;
	margin: auto;
}

svg rect.bar {
	fill: #666;
}

svg rect.bar:hover {
	fill: #999;
}

svg .axis {
	/* stroke: #222; */
	stroke-width: 1;
	fill: #222;
}

svg .axis .tick line {
	stroke-width: 1;
}

svg .axis path {
}

svg .axis text {
	font-size: 13px;
}