body {
	background: #777;
	padding: 0;
	margin: 0;
	font-family: 'Oswald', sans-serif;
}

#year_switcher {
	height: 30px;
	line-height: 30px;
	font-size: 2.2em;
	text-align: center;
	color: #333;
	margin: 10px auto;
}

#year_switcher a {
	text-decoration: none;
	color: #333;
}

#year_switcher a:hover {
	text-decoration: underline;
	color: #666;
}

#chart_area {
	width: 100%;
	height: 100%;
	margin: auto;
	position: relative;
}

#invert {
	position: absolute;
	bottom: 20px;
	right: 0;
}

svg {
	width: 100%;
	height: 100%;
}

svg .datum rect.bar {
	opacity: 0.8;
}

svg .datum rect.bar:hover {
	opacity: 1;
}

svg .datum line.minmax {
	stroke: #222;
	stroke-opacity: 0.5;
	stroke-width: 1px;
}

svg .datum rect.quartile {
	fill: #222;
	opacity: 0.5;
}

svg .axis {
	stroke-width: 1;
	fill: #222;
}

svg .axis.y .tick line {
	stroke: #888;
	opacity: 0.8;
}

svg .axis.x.swap {
	pointer-events: bounding-box;
}

svg .axis.x.swap:hover {
	fill: #CCC;
}

svg .axis text {
	font-size: 20;
}