body {
	background: gray;
}

#chart_area {
	width: 90%;
	height: 90%;
	margin: auto;
}

svg rect.bar {
	fill: #666;
}

svg rect.bar:hover {
	fill: #999;
}

svg .axis {
	/* stroke: #222; */
	stroke-width: 1;
	fill: #222;
}

svg .axis .tick line {
	stroke-width: 1;
}

svg .axis path {
}

svg .axis text {
	font-size: 0.6em;
}